{% extends 'base-experimentations.html.twig' %}

{% block title %}{{parent()}} Steps / Natures{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('vincent/range/assets/css/style.css') }}"/>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('vincent/range/assets/js/lib/papaparse.min.js') }}" defer></script>
  <script src="{{ asset('vincent/range/assets/js/lib/imagesloaded.pkgd.min.js') }}" defer></script>
  <script src="{{ asset('vincent/range/assets/js/lib/fontfaceobserver.standalone.js') }}" defer></script>
  <script src="{{ asset('vincent/range/assets/js/javascript.js') }}" defer></script>
{% endblock %}

{% block body %}
<div id="experiment">

  <div class="tools">
  	<div class="zoom-buttons">
  		<p>zoom</p>
  		<button class="zoom-out">-</button>
  		<button class="zoom-in">+</button>
  	</div>
    <div class="boutons align_left"><a id="data-url" href="{{ asset('vincent/loupe/data/csv/LRT_01_01_00003.csv') }}" download>csv</a></div>
  </div>

  <main>
      <div class="panneau">
        <div class="container" style="transform: scale(1) translate(0px,0px);">

          <figure id="facsimile">
            <img src="{{ asset('vincent/loupe/data/img/LRT_01_01_00003.jpg') }}" />
          </figure>

          <div id="container_transcription"></div>
        </div>


      </div>


      <div class="panneau">
        <div class="container" style="transform: scale(1) translate(0px,0px);">

          <div class="transcription" id="transcription_natures"></div>

        </div>
      </div>
  </main>

  <aside>
  	<p>ensemble des moments d’écriture</p>
  </aside>

</div>
{% endblock %}
