<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        {% block title %}Projet Réticence - {% endblock %}
        </title>
        {% block stylesheets %}
          <link href="{{ asset("build/css/template.css") }}" rel="stylesheet" />
          <link href="{{ asset("build/css/project.css") }}" rel="stylesheet" />
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
      {% include('base-includes/header-experiments.html.twig') %}
      {% block body %}
      {% endblock %}
    </body>
</html>
