{% set isAdmin = is_granted('ROLE_ADMIN') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        {% block title %}Projet Réticence - {% endblock %}
        </title>
        {% block stylesheets %}
        <link href="{{ asset("build/css/template.css") }}" rel="stylesheet" />
        <link href="{{ asset("build/css/project.css") }}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
    </head>
    <body class="bgblack">
      {% include('base-includes/header.html.twig') %}
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            {% block body %}
            {% endblock %}
          </div>
        </div>
        {% include('base-includes/footer.html.twig') %}
      </div>
      {% block javascripts %}
      <script src="{{asset("build/runtime.js")}}"></script>
      <script src="{{asset("build/js/vendor.js")}}"></script>
      <script src="{{asset("build/js/main.js")}}"></script>
      {% endblock %}
    </body>
</html>
