@font-face {
  font-family : "Spacemono";
  src: url('../../data/font/SpaceMono-Regular.ttf');
}

.breadcrumb-item a {
	color: rgba(255,255,255,.5);
}

.breadcrumb .breadcrumb-item.active {
	color: white;
}

.bgblack{
		background-color:black;
}

.font-bigger{
    font-size: 120%;
}

#header .nav-link, #left_menu .nav-link {
	  color:white;
	  font-variant-ligatures: none;
	  font-family : "Spacemono";
}
