/* TYPO */

@font-face {
  font-family : "Spacemono";
  src: url('../../data/font/SpaceMono-Regular.ttf');
}
@font-face {
  font-family : "SpacemonoIt";
  src: url('../../data/font/SpaceMono-Italic.ttf');
}

/* CSS RULES */
/*body {
    line-height: 1.5;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}*/
.transcription {
  font-family : "Spacemono";
  color: black;
  font-variant-ligatures: none;
  /*white-space: nowrap;*/
}
.transcription .manuscrit {
  font-family : "SpacemonoIt";
  color: #0ead0e;
}
.transcription mark.info {
    color: #035399;
}
.transcription mark.warning {
    color: #dfcb1d;
}

.transcription mark {
    padding: 0;
    background-color: rgba(252, 248, 227, 0.1);
    border-radius: 5px;
}
.transcription mark {
    position: relative;
}

/* .transcription mark:hover {
    cursor: pointer;
}*/
.transcription mark:hover:after {
    color: darkgrey;
}
.transcription .fa-info {
    vertical-align: super;
    font-size: smaller;
    z-index: -1;
}
.transcription .add > .del {
    color: #3cb371;
}
.transcription .del {
    text-decoration: line-through;
    position: relative;
    color: Tomato;
}
.transcription .del.no_mark {
    text-decoration: none;
}
.transcription .del.overtyped {
    text-decoration: none;
    position: relative;
}   
.transcription .del.overtyped:before {
    position: absolute;
    content: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: .6;
}
.transcription .del.overtyped:hover::before {
    content: "";
}
.transcription .add {
    /*font-family: rush Script MT, Brush Script Std, cursive;
    font-style: italic;
    color: darkred; */
    display: inline-block;
    /*vertical-align:20%;*/
    /*-ms-transform: skewY(-2deg) translate(0px, -8px);*/
    /* IE 9 */
    /*-webkit-transform: skewY(-2deg) translate(0px, -8px);*/
    /* Safari 3-8 */
    /*transform: skewY(-2deg) translate(0px, -8px);*/
    /*margin-right: -1em;*/
    color: MediumSeaGreen;
    font-style: italic;
    font-size: 95%;
    position: relative;
    bottom: 4px;
}
.transcription .unclear {
    text-decoration: underline wavy;
}
.transcription .page-num {
    text-align: right;
}
