/*import de bootstrap*/
@import "~bootstrap/dist/css/bootstrap.min.css";

h2, h3{
  font-family : "Spacemono";
}
/* FOOTER */
#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid white;
}

#footer img {
  height: 24px;
  margin-right: 12px;
}

#footer .logos a:hover {
  text-decoration: none;
}

#footer a {
  font-family : "Spacemono";
  color:black;
}

/* EVERYWHERE */
.container-fluid {
  padding-top: 10px;
}

body{
  padding-bottom: 200px;
  background-color:#f8f9fa;
}

:focus, :active, :active:focus{
  outline:none;
}

/* OPENSEADRAGON
******************/
.openseadragon-buttons {
  margin-bottom: 10px;
}

.seadragon-viewer {
  width: 100%;
  height: 800px;
  background-color: #f8f9fa;
}

.logo-bottom {
  margin: 10px;
  height: 32px;
}
