<div id="footer" class="p-1 bg-light">
  <div class="row text-center">
    <div class="col-8 logos">
      <a target="_blank" href="https://www.univ-grenoble-alpes.fr/" title="Université Grenoble Alpes">
        <img src="{{asset('img/logo_univ_grenoble_alpes.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.cnrs.fr" title="CNRS">
        <img src="{{asset('img/logo_cnrs.jpg')}}"/>
      </a>
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/" title="UMR Litt&Arts">
        <img src="{{asset('img/logo_littarts.png')}}"/>
      </a>
      <a target="_blank" href="http://www.elan-numerique.fr/" title="ELAN">
        <img src="{{asset('img/logo_elan.png')}}"/>
      </a>
      <a target="_blank" href="https://demarreshs.hypotheses.org/" title="Démarre SHS !">
        <img src="{{asset('img/logo_demarre_shs.jpg')}}"/>
      </a>
      <a target="_blank" href="https://bibliotheques.univ-grenoble-alpes.fr/" title="SID">
        <img src="{{asset('img/logo_sid.jpg')}}"/>
      </a>
    </div>
    <div class="col">
      <a href="{{path("legal_notices")}}">Mentions légales</a> -
      <a href="{{path("credits")}}">Crédits</a> -
      <a target="_blank" href="https://gitlab.com/litt-arts-num/toussaint">Code source</a>
    </div>
  </div>
</div>
