<div class="text-center bgblack font-bigger">
  <img src="{{ asset('img/reticence-contact-1.jpg')}}"/>
  <ul id="header" class="nav justify-content-center p-2">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('project') }}">Le projet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('inventory') }}">L'inventaire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('boites') }}">Exploration des brouillons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('experimentations') }}">Expérimentations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('creations') }}">Créations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('about') }}">À propos</a>
    </li>
  </ul>

</div>
