<div id="navbar" class="text-center bgblack">
  <ul id="header" class="nav justify-content-center p-2">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('project') }}">Le projet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('inventory') }}">L'inventaire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('boites') }}">Exploration des brouillons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('experimentations') }}">Expérimentations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('about') }}">À propos</a>
    </li>
  </ul>
</div>
