* {
  margin:0;
  padding:0;
  list-style: none;
  outline: 0;
  font-weight: 300;
  box-sizing: border-box;
}

p {
  margin-bottom: 0px;
}
/* TYPO */

@font-face {
  font-family : "Spacemono";
  src: url('../../data/font/SpaceMono-Regular.ttf');
}
@font-face {
  font-family : "SpacemonoIt";
  src: url('../../data/font/SpaceMono-Italic.ttf');
}


/* LAYOUT */

/* PANNEAU CONTAINER MANUSCRIT / FAC-SIMILÉ / SPAN TRANSCRIPTION */

main {
  background-color: #f6f6f6;

  display: flex;

  height: 100vh;
}
main > div {
  flex-shrink: 0;

  width: 50%;
}

/* horizontal */
main.horizon {
  flex-direction: column;
}
main.horizon > div {
  flex-shrink: 0;

  width: 100%;
  height: 50%;
}

.panneau {
  overflow: scroll;
}
.panneau:nth-child(1) {
  border-right: 1px solid #282083;
}

.container {
  position: relative;

  transform-origin: top left;
  transition: transform 300ms;
}




/* TEXTE */

#container_zones_transcription span {
  position: absolute;
}

#container_zones_transcription span.hovered {
  border-bottom: 1px solid red;
}
#container_zones_transcription span.current_step {
  border-bottom: 1px solid red;
}

.transcription span {
  position: absolute;

  font-family : "Spacemono";
  color: #068bff;
  font-variant-ligatures: none;
  white-space: nowrap;
}
.transcription span.hovered {
  border-bottom: 1px solid red;
}

.transcription span.manuscrit {
  font-family : "SpacemonoIt";
  color: #0ead0e;
}

.transcription span.barre {
  text-decoration: line-through;
}

i {
  font-style: italic;
}


/* ZONES TRANSCRIPTION */

#container_zones_transcription {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}



/* CACHE */

#cache {
  visibility: hidden;

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);

  z-index:10;

  transition: all 300ms;
}
#cache.active {
  visibility: visible;
}


/* PANNEAU GAUCHE */

#facsimile {
  width: 80%;
  margin: auto;
  margin-top: 35px;
}

#facsimile img {
  width: 100%;
}

#container_transcription {
  background: white;
}
#container_transcription span {
  position: absolute;
  display: block;
}

#container_transcription span.hovered {
  opacity: 1;
}





/* PANNEAU DROITE */

#transcription_natures {
  position: relative;

  margin: auto;
  margin-top: 35px;

  border: 1px solid black;
}

#transcription_natures span.manuscrit {
  visibility: hidden;
}
#transcription_natures span.manuscrit.visible {
  visibility: visible;
}
#transcription_natures span.current_step {
  color: #ff4d00;
}
#transcription_natures span.barre:not(.activated) {
  text-decoration: none;
}



/* TOOLS */
.tools {
  position: fixed;
  bottom: 0px;
  left: 0px;

  width: 100%;
  padding: 10px;

  z-index: 100;

  border-top: 1px solid black;
  background: #f0f3f3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.boutons {
  display: flex;
  align-items: center;
}
.boutons button {
  font-family : "Spacemono";
  cursor: pointer;

  padding: 15px 10px;
  margin-right: 10px;

  border: none;
  border: 1px solid black;

  font-size: 15px;
  line-height: 0px;
}
.boutons button:hover {
  color: #ff4d00;
  border-color: #ff4d00;
}
.boutons p {
  margin-right: 15px;
  margin-left: 10px;

  border-bottom: 1px solid;

  font-size: 13px;
  font-family : "Spacemono";
}
.boutons a {
  border-bottom: 1px solid black;

  text-decoration: none;
  color: black;
  font-size: 13px;
}
.bouton a:hover {

}
.boutons.align_left {
  position: absolute;
  right: 10px;
}
.boutons button {
  font-family : "Spacemono";
  cursor: pointer;

  padding: 15px 10px;
  margin-right: 10px;

  border: none;
  border: 1px solid black;

  font-size: 15px;
  line-height: 0px;
}
