
* {margin:0;padding:0;list-style: none;outline: 0;font-weight: 300;}


/* TYPO */

@font-face {
  font-family : "Spacemono";
  src: url('../../data/font/SpaceMono-Regular.ttf');
}
@font-face {
  font-family : "SpacemonoIt";
  src: url('../../data/font/SpaceMono-Italic.ttf');
}

i {
  font-style: italic;
}


body {
  font-family : "Spacemono";
  background-color: #f6f6f6;
}




/* TOOLS */
.tools {
  position: fixed;
  bottom: 0px;
  left: 0px;

  width: 100%;
  padding: 10px;

  z-index: 100;

  border-top: 1px solid black;
  background: #f0f3f3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.boutons {
  display: flex;
  align-items: center;
}
.boutons button {
  font-family : "Spacemono";
  cursor: pointer;

  padding: 15px 10px;
  margin-right: 10px;
  
  border: none;
  border: 1px solid black;
  
  font-size: 15px;
  line-height: 0px;
}
.boutons button:hover {
  color: #ff4d00;
  border-color: #ff4d00;
}
.boutons p {
  margin-right: 15px;
  margin-left: 10px;

  border-bottom: 1px solid;
  
  font-size: 13px;
  font-family : "Spacemono";
}

p {
  margin-bottom: 0px;
}
.boutons a {
  border-bottom: 1px solid black;

  text-decoration: none;
  color: black;
  font-size: 13px;
}
.bouton a:hover {

}
.boutons.align_left {
  position: absolute;
  right: 30px;
}
.boutons button {
  font-family : "Spacemono";
  cursor: pointer;

  padding: 15px 10px;
  margin-right: 10px;
  
  border: none;
  border: 1px solid black;
  
  font-size: 15px;
  line-height: 0px;
}


/*///// CONTAINER MANUSCRIT / FAC-SIMILÉ / SPAN TRANSCRIPTION /////*/

/* panneau */

.panneau {
  border-right: 1px solid #282083;
  position: fixed;
  width: 50%;
  height: 100vh;
  overflow: scroll;
  top: 0;
}

/* container_manuscrit */

#container_manuscrit {
  transition: transform 300ms;
}


/* container_fac-similé */

#container_img {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 35px;
}

#container_img img {
  position: absolute;
  width:80%;
  margin-bottom:20px;
}



#container_transcription {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  z-index:10;
}

#container_transcription span {
  cursor: pointer;

  position: absolute;
  display: block;
  border-bottom: 1px solid #ff0000;
  opacity: 0;
}

#container_transcription span.hovered {
  opacity: 1;
}


/* container_transcription-span */

#container_diplomatique {
  margin-left: 100px;
}

#container_diplomatique span {
  position: absolute;
  cursor: default;
  mix-blend-mode: darken;
  font-size: 13px;
  line-height: 10px;
  color: #282083;
}

#container_img_diplomatique img {
  position: absolute;
  z-index: 10;
}

/* style pour les catégories d'ajout */

.remplacement {
  display: none;
  background: #dbdbde;
  height: 15px;
  padding-top: 4px;
  margin-top: -4px;
}

.barre {
	text-decoration: line-through;
}









/*///// CONTAINER PRINCIPAL /////*/

#container {
  margin: 0 0 0 50%;
  width: 45%;
  padding: 0px 0 0 5%;
}

#container h1 {
  opacity: 0;
  position: fixed;
  padding: 25px 0 35px 0;
  top: 50px;
  color: #282083;
  line-height: 20px;
  letter-spacing: 0.4px;
  font-size: 24px;
}

article {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0px;
	margin-left: 0;
  margin-right: 0;
  width: 90%;
  padding-top: 120px;
  height: calc(100vh - 120px);
}

article:first-of-type {
  margin-top: 100vh;
}

article p {
	color: #282083;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 17px;
  width: 100%;
}

.visible {
	opacity: 1;
}


input[type=range] {
  -webkit-appearance: none;
  position: absolute;
  transform: rotate(270deg);
  -ms-transform:rotate(270deg); /* Internet Explorer */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari et Chrome */
  -o-transform:rotate(270deg);
  width: 97%;
  right: -36px;
  top: 94px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #282083;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.3px solid #282083;
  height: 9px;
  width: 10px;
  border-radius: 50px;
  background: #f6f6f6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #30269c;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #282083;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.3px solid #282083;
  height: 9px;
  width: 10px;
  border-radius: 50px;
  background: #f6f6f6;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #201a6a;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #282083;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.3px solid #282083;
  height: 9px;
  width: 10px;
  border-radius: 50px;
  background: #f6f6f6;
  cursor: pointer;
  height: 2.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #282083;
}
input[type=range]:focus::-ms-fill-upper {
  background: #30269c;
}


