{% extends 'base-experimentations.html.twig' %}

{% block title %}{{parent()}} Steps / Natures{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://vincent-maillard.fr/projets/toussaint/2019_06_11/graph/assets/css/style.css"/>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('vincent/graph/assets/js/lib/d3.v4.min.js') }}" defer></script>
  <script src="{{ asset('vincent/graph/assets/js/lib/d3-selection-multi.v1.js') }}" defer></script>
  <script src="https://vincent-maillard.fr/projets/toussaint/2019_06_11/graph/assets/js/javascript.js" defer></script>
{% endblock %}

{% block body %}
<div id="experiment">
  <a id="data-url" href="{{ asset('vincent/graph/data/json/graph.json') }}" download></a>
	<svg width="960" height="600"></svg>
</div>
{% endblock %}
