{% extends 'base-experimentations.html.twig' %}

{% block title %}{{parent()}} Steps / Natures{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://vincent-maillard.fr/projets/toussaint/2019_06_11/steps/assets/css/style.css"/>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('vincent/steps/assets/js/lib/p5.Math.min.js') }}" defer></script>
  <script src="{{ asset('vincent/steps/assets/js/lib/papaparse.min.js') }}"></script>
  <script src="{{ asset('vincent/steps/assets/js/lib/smoothscroll.js') }}"></script>
  <script src="https://vincent-maillard.fr/projets/toussaint/2019_06_11/steps/assets/js/javascript.js" defer></script>
{% endblock %}

{% block body %}
<div id="experiment">

  <div class="tools">
    <div class="boutons zoom-buttons">
      <p>zoom</p>
      <button class="zoom-out">-</button>
      <button class="zoom-in">+</button>
    </div>

    <div class="boutons">
      <p>étapes</p>
      <button id="precedent"><</button>
      <button id="suivant">></button>
    </div>
    <div class="boutons align_left"><a id="data-url" href="{{ asset('vincent/steps_natures/data/csv/LRT_01_01_00003.csv') }}" download>csv</a></div>
  </div>

  <div class="panneau">

    <div id="container_manuscrit" style="transform: scale(1) translate(0px,0px);">
      <div id="container_img">
        <img src="{{ asset('vincent/steps/data/img/LRT_01_01_00003.jpg') }}" />
      </div>
      <div id="container_transcription">
      </div>
      <div id="container_diplomatique" style="display: none;">
      </div>
    </div>
  </div>


  <div id="container"></div>
</div>
{% endblock %}
