{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  À propos{% endblock %}

{% block body %}
  <div class="card bgblack text-white">
    <div class="card-body">
       <div class="row">
	 <div class="col-sm-3 col-lg-2">
	   <nav class="navbar navbar-default navbar-fixed-side">
	     <ul id="left_menu" class="nav navbar-nav">
	       <li class="nav-item"><a class="nav-link" href="#team">1- L'équipe</a></li>
	       <li class="nav-item"><a class="nav-link" href="#partners">2- Partenaires et soutiens</a></li>
	       <li class="nav-item"><a class="nav-link" href="#editorial">3- Politique éditoriale</a></li>
	       <li class="nav-item"><a class="nav-link" href="#cite">4- Comment nous citer ?</a></li>
	       <li class="nav-item"><a class="nav-link" href="#contact">5- Contact</a></li>
	     </ul>
	   </nav>
	 </div>
	 <div class="col-sm-9 col-lg-10">
	   <h2 id="team">1- L’équipe</h2>

	   <h3>Responsabilité scientifique</h3>
	   <p>Brigitte Ferrato-Combe, Maître de conférences en littérature française contemporaine à l’Université Grenoble Alpes, UMR Litt&Arts</p>

	   <h3>Comité éditorial</h3>
	   <ul>
	     <li>Brigitte Ferrato-Combe</li>
	     <li>Françoise Leriche, Professeur en littérature française XIXe-XXIe (UGA, Litt&Arts)</li>
	     <li>Pascale Roux, Maître de conférences en langue et littérature françaises (UGA, Litt&Arts)</li>
	     <li>Françoise Rouffiat, Maître de conférences en langue et littérature françaises (UGA, Litt&Arts)</li>
	     <li>Thomas Lebarbé, Professeur en Humanités numériques (UGA, Litt&Arts)</li>
	   </ul>
	   <p>Le comité éditorial établit les protocoles scientifiques, vérifie la transcription et le balisage des brouillons, rédige les pages de présentation et d’enrichissement du site.</p>

	   <h3>ELAN, l'équipe d’ingénierie numérique</h3>
	   <ul>
	     <li>Arnaud Bey, Ingénieur d’Etudes UGA, Litt&Arts (UMR 5316)</li>
	     <li>Anne Garcia-Fernandez, Ingénieure de Recherche CNRS, Litt&Arts (UMR 5316)</li>
	     <li>Elisabeth Greslou, Ingénieure de Recherche UGA, Litt&Arts (UMR 5316)</li>
	     <li>Célia Marion, Assistante Ingénieure, Démarre SHS !</li>
	     <li>Vincent Maillard, Web designer</li>
	   </ul>
	   <p>ELAN accompagne le projet dans toutes ses phases, développe et met à jour les outils logiciels nécessaires, élabore la plate-forme de transcription et le site de visualisation.</p>

	   <h3>Collaborateurs</h3>
	   <h4>Etudiants de l’Université Grenoble Alpes ayant contribué aux transcriptions (vacataires ou stagiaires)</h4>

	   Master Arts, lettres et civilisations – Parcours Littératures : critique et création
	   <ul>
	     <li>Volodia Piotrovitch d’Orlik (2016-2017)</li>
	     <li>Gaëlle Grella (2018)</li>
	   </ul>

	   Licence Lettres modernes
	   <ul>
	     <li>Charlotte Argoud (2018)</li>
	     <li>Mélissa Dey (2018)</li>
	   </ul>

	   <h2 id="partners">2- Partenaires et soutiens</h2>

	   <ul>
	     <li>Litt&Arts – Unité Mixte de Recherche sur les Arts et pratiques du texte, de l’image, de l’écran et de la scène (UMR 5316 UGA/CNRS)</li>
	     <li>UGA – Université Grenoble Alpes</li>
	     <li>CNRS – Centre National de Recherche Scientifique</li>
	     <li>ELAN – Équipe Littérature et Arts Numérique de Litt&Arts</li>
	     <li>DEMARRE SHS ! (Données massives et riches pour la recherche en sciences humaines et sociales) (WP3 de DATA@UGA)</li>
	     <li>SID – Service Interuniversitaire de Documentation (SID) de l’UGA</li>
	     <li>SFR Création FED 4269 – Structure Fédérative de >Recherche-Création – Programme GeCLA « Genèse des créations littéraires et artistiques »</li>
	     <li>Consortium CAHIER – Corpus d’auteurs pour les humanités : informatisation, édition, recherche, intégré à la Très Grande Infrastructure de Recherche Huma-Num</li>
	   </ul>

	   <h2 id="editorial">3- Politique éditoriale</h2>
	   <h3>Droits sur les données et leurs usages</h3>
	   <p>
	     Les données sont rendues publiques selon le souhait et avec l’accord de l’auteur, détenteur des droits.
	     <br/>
	     Chaque feuillet de brouillon sera accessible en mode image (jpeg), numéroté et assorti des métadonnées issues du travail des chercheurs. Le travail de transcription, balisage, annotation est effectué sur le mode collaboratif (crowdsourcing) sur la
	     plateforme TACT, élaborée par l’équipe ELAN. Les transcriptions en XML-TEI issues de ce travail sont libres de droit à condition que <strong>toute citation ou utilisation des données fasse référence à leur origine.</strong>
	     <br/>
	     Le dernier état du tapuscrit, mis au net avant l’envoi à l’éditeur, n’est pas reproduit. l'ouvrage est disponible <a target="_blank" href="http://www.leseditionsdeminuit.fr/livre-La_R%C3%A9ticence-1878-1-1-0-1.html">ici</a> aux Éditions de Minuit en version papier et numérique.
	   </p>

	   <h2 id="cite">4- Comment nous citer ?</h2>
	   <ul>
	     <li>Citer le site du projet&nbsp;:<ul>
		 <li>Ferrato-Combe, Brigitte et al. ({{ "now"|date("Y") }}). <i>Projet Réticence</i>, ELAN (Litt&Arts, UMR&nbsp;5316). Consulté sur <a href="http://reticence.elan-numerique.fr">http://reticence.elan-numerique.fr</a>, le {{ "now"|date("d/m/Y") }}.</li>
	     </ul></li>
	     <li>Citer le site du projet de transcription&nbsp;:<ul>
		 <li>Plateforme TACT <i>Démarre SHS !</i> ({{ "now"|date("Y") }}). <i>Projet Réticence. Plonger dans l'écriture de Jean-Philippe Toussaint</i>, TACT <i>Démarre-SHS !</i> et ELAN (Litt&Arts, UMR&nbsp;5316). Consulté sur <a href="https://tact.demarre-shs.fr/project/11">https://tact.demarre-shs.fr/project/11</a>, le {{ "now"|date("d/m/Y") }}.</li>
	     </ul></li>
	     <li>Citer une transcription en particulier&nbsp;:
	       <ul>
		 <li>Plateforme TACT <i>Démarre SHS !</i> ({{ "now"|date("Y") }}). <i>Transcription du média <u style="text-decoration-style: wavy;">LRT_02_01_00340</u></i>, Projet Réticence. Plonger dans l'écriture de Jean-Philippe Toussaint</i>, TACT <i>Démarre-SHS !</i> et ELAN (Litt&Arts, UMR&nbsp;5316). Consulté sur <a href="https://tact.demarre-shs.fr/media/2419/transcription/view"><u style="text-decoration-style: wavy;">https://tact.demarre-shs.fr/media/2419/transcription/view</u></a>, le {{ "now"|date("d/m/Y") }}.<br/>
		 <small>(* les <u style="text-decoration-style: wavy;">zones soulignées</u> sont à mettre en jour selon la transcription citée)</small></li>
	     </ul>
</li>
      </ul>

      <h2 id="contact">5- Contact</h2>
      <ul>
        <li>Aspects techniques&nbsp;: <a href="mailto:litt-et-arts-elan@univ-grenoble-alpes.fr">ELAN</a></li>
        <li>Autre&nbsp;: <a href="mailto:brigitte.combe@univ-grenoble-alpes.fr">Brigitte Combe</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
