{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Boites{% endblock %}

{% block containerType %}container{% endblock %}

{% block body %}

  <div class="row">
    {% for boite in boites %}
      <div class="col-4 mb-4">
        <div class="card border-light bgblack">
          <a class="text-white" href="{{ path('boite_fiches', {'boite': boite.name}) }}">
            <div class="card-body text-center">
              <i class="fas fa-archive fa-3x"></i>
              <h3>#{{boite.name}}</h3>
              {{boite.fiches|length}} fiches
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
