{% extends 'base.html.twig' %}

{% block title %}{{parent()}}
  Créations{% endblock %}

{% block body %}
  <div class="text-white">
    <h3>Film
      <i>Réticences</i>
    </h3>
    <p>un film de Naïma Einhorn, Nina Moro et Éloïse Pommiès.<br/>
      Entrelacs de libre adaptation et d'entretiens filmiques, un parcours à travers les archives du roman de Jean-Philippe Toussaint<br/>
      Sans réticences, ce film aurait pu être un film sur la numérisation et l'archivage des tapuscrits de La Réticence.<br/>
    </p>

    <h4>La bande annonce</h4>
    <iframe src="https://player.vimeo.com/video/185496857" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>

    <h4>Le film</h4>
    <iframe src="https://player.vimeo.com/video/187519710" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
    <p>16'- Documentaire de création - Vidéo - Couleur - 2016</p>

    <h3 class="mt-4">Création sonore
      <i>Aposiopèse</i>
    </h3>
    <p>Derrière La Réticence, roman de 159 pages, se cachent près de 2500 pages de brouillons, tapées à la machine, raturées, corrigées, éprouvées.<br/>
      Cet univers, ces procédés d’écritures, nous avons tenté de les retranscrire dans cette création sonore en croisant nos lectures, tantôt agacées, angoissées, déboussolées, mais aussi captivées, intriguées, inspirées.<br/>
      Une expérimentation sonore en écho aux recherches menées par l'UMR Litt&Art de l’Université Grenoble Alpes.<br/>
      Adaptation radiophonique & voix : Léa Chorot, Florence Croizier, Noémie Lepage, Clémentine Maniguet, Camille Veyres, Emilie Wadelle.<br/>
      Prise de son, montage, mixage : Floriane Pochon. Prises de sons additionnelles : Emilie Wadelle.
    </p>
    <ul>
      <li>
        <a href="http://archive.phauneradio.com/toussaint/reticence.wav">La création sonore Aposiopèse en format wav</a>
      </li>
      <li>
        <a href="http://archive.phauneradio.com/toussaint/reticence.mp3">La création sonore Aposiopèse en format mp3</a>
      </li>
    </ul>

    <h3>Exposition <i>Dans l'atelier de l'écriture de Jean-Philippe Toussaint</i></h3>
    <p>Bibliothèque Universitaire Droit-Lettres, Université Grenoble Alpes, du 13 octobre au 3 novembre 2016<br/>
      Les documents exposés rendent perceptible la fabrique de l’œuvre, entre tâtonnements et fulgurances : élaboration de scénarios, suppression d'éléments narratifs, lent cheminement de l'écriture, corrections, reformulations.<br/>
      Parallèlement, un ensemble de dessins et de photographies réalisés et prêtés par Jean-Philippe Toussaint permet de pénétrer dans les bureaux de l'écrivain pour mieux saisir le processus, à la fois matériel et imaginaire, de la création littéraire.<br/>
      Si l'écrivain n'est jamais présent sur ces images, elles n'en constituent pas moins autant d'autoportraits obliques.</p>
    <div>
      <a href="http://farm5.static.flickr.com/4245/35067260982_1c9d607fa6_b.jpg"><img src="http://farm5.static.flickr.com/4245/35067260982_1c9d607fa6_s.jpg"></a>
      <a href="http://farm5.static.flickr.com/4260/35067262342_2e2b2531ae_b.jpg"><img src="http://farm5.static.flickr.com/4260/35067262342_2e2b2531ae_s.jpg"></a>
      <a href="http://farm5.static.flickr.com/4262/35067263712_a295b5b0cc_b.jpg"><img src="http://farm5.static.flickr.com/4262/35067263712_a295b5b0cc_s.jpg"></a>
      <a href="http://farm5.static.flickr.com/4208/34846198850_0477ca87fd_b.jpg"><img src="http://farm5.static.flickr.com/4208/34846198850_0477ca87fd_s.jpg"></a>
      <a href="http://farm5.static.flickr.com/4202/34846200040_8c1240dd93_b.jpg"><img src="http://farm5.static.flickr.com/4202/34846200040_8c1240dd93_s.jpg"></a>
      <a href="http://farm5.static.flickr.com/4220/35232966855_a469ffede0_b.jpg"><img src="http://farm5.static.flickr.com/4220/35232966855_a469ffede0_s.jpg"></a>
      <a href="http://farm5.static.flickr.com/4206/35067258902_90c8a4029b_b.jpg"><img src="http://farm5.static.flickr.com/4206/35067258902_90c8a4029b_s.jpg"></a>
    </div>
  </div>
{% endblock %}
