{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Crédits{% endblock %}

{% block body %}

<div class="text-white">

  <h2>Origine des images et manuscrits</h2>

  <p>Les manuscrits sont la propriété de l’auteur, Jean-Philippe Toussaint.<br/>
  La numérisation de ces manuscrits a été réalisée par la bibliothèque universitaire (SID) de l’université Grenoble Alpes. Ces images sont sous licence CC-BY 4.0 (en savoir plus).</p>

  <h2>Bandeau d’entête du site</h2>
  <p>Cette image a été réalisée par Clémentine Maniguet à partir d'une planche-contact de Jean-Philippe Toussaint  et est sous licence CC-BY 4.0 (en savoir plus).</p>

  <h2>Photos de l’exposition <i>Dans l'atelier de l'écriture de Jean-Philippe Toussaint</i></h2>
  <p>Ces photos ont été prises lors de l’exposition du 13 octobre au 3 novembre 2016 sont sous licence CC-BY 4.0 (en savoir plus).</p>

  <h2>Film Réticences</h2>
  <p>Le film Réticences et sa bande annonce ont été réalisée par Naïma Einhorn, Nina Moro et Éloïse Pommiès.</p>

</div>
{% endblock %}
