{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Expérimentations{% endblock %}

{% block body %}
<div class="text-white">
  <p>Cette page présente un ensemble d’expérimentations autour des modalités de la transcription d’un feuillet de <em>La réticence</em>. La transcription est ainsi abordée selon des questions relevant de l’interaction et de la lisibilité.</p>
  <p>L’expérimentation <a href="{{path("experimentation_loupe")}}">« Loupe »</a> propose une transcription diplomatique superposer à un fac-similé. Par l’intermédaire d’un block repositionnable et redimensionnable, la transcription apparaît comme une loupe facilitant la lecture du brouillon.</p>
  <p>L’expérimentation <a href="{{path("experimentation_stepsnature")}}">« Steps natures »</a> séquence la transcription en étapes d’écriture successives. L’ordre chronologique est un ordre arbitraire établi au moment de la transcription. La composition de la page est classique : le fac-similé est disposé à côté sa transcription. Les boutons « étapes » activent un surlignement du texte sur le fac-similé ainsi que sur la transcription. La composition peut être changée grâce au bouton « layout » afin d’obtenir une visualisation horizontale, plus appropriée à la lecture de lignes de texte. Une loupe est activable afin de superposer la transcription diplomatique au fac-similé.</p>
  <p>Ce même séquençage en étapes d’écriture est mis en place avec l’expérimentation <a href="{{path("experimentation_range")}}">« Range »</a>. Des champs de valeur (<em>range</em>) sont disposés en-dessous des documents. Le premier comporte l’ensemble des étapes. Les suivants isolent les étapes entre elles. Avec ces derniers, il est possible de rejouer un autre séquençage des étapes d’écriture.</p>
  <p>L’expérimentation <a href="{{path("experimentation_steps")}}">« Steps »</a> séquence également la transcription. Cependant, la transcription n’est pas diplomatique : les éléments se surajoutent les uns à la suite des autres. Les remplacement prennent la place du texte qu’ils remplacent, les ajouts s’ajoutent. Cette proposition vise à montrer un texte en train de s’écrire basé sur la chronologie de la transcription. Ce texte, une fois déplié entièrement est en quelque sorte la version « finale » du brouillon.</p>
  <p>Enfin, l’expérimentation <a href="{{path("experimentation_graph")}}">« Graph »</a> propose une approche différente en reliant les étapes d’écriture suivant un réseau de nœuds et de liens. Les nœuds sont déplaçables et recomposent ainsi la géographie de la transcription.</p>
  <p>Ces expérimentations sont écrites en HTML, CSS et JS. Les données sont stockées sous forme de .csv ou .json.</p>
</div>

<div class="row">
  <div class="col">
    <video controls style="width:100%">
      <source src="{{ asset('vincent/videos/loupe.mp4') }}" type="video/mp4" />
    </video>
  </div>

  <div class="col">
    <video controls style="width:100%">
      <source src="{{ asset('vincent/videos/range.mp4') }}" type="video/mp4" />
    </video>
  </div>

  <div class="col">
    <video controls style="width:100%">
      <source src="{{ asset('vincent/videos/steps_natures1.mp4') }}" type="video/mp4" />
    </video>
  </div>
</div>
{% endblock %}
