{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Fiches{% endblock %}

{% block containerType %}container{% endblock %}

{% block body %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bgblack">
      <li class="breadcrumb-item"><a href="{{path("boites")}}">Exploration des brouillons</a></li>
      <li class="breadcrumb-item active" aria-current="page">#{{boite.name}}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-filter"></i>
          </span>
        </div>
        <input id="text-filter" type="text" class="form-control" placeholder="Filtrer">
      </div>
    </div>
  </div>

  <div class="row">
    {% for fiche in fiches %}
      <div class="col-2 mb-4">
        <div class="card border-light text-white bgblack fiche" data-name="{{fiche.name}}">
          <a class="text-white" href="{{ path('display_fiche', {'boite': boite.name, 'fiche': fiche.name}) }}">
            <img loading="lazy" src="{{ asset("img/numerisations/thumbnails/")}}{{fiche.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              {{fiche.name}}
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/display-fiches.js') }}"></script>
{% endblock %}
