{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Fiche {{ fiche.name }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset("build/css/reticence.css") }}" rel="stylesheet" />
{% endblock %}

{% block body %}

  {% set diplomatic = getHTML("final", fiche.name) %}
  {% set linearized = getHTML("tapuscrit", fiche.name) %}

  <input id="imageURL" name="imageURL" type="hidden" value="{{ asset("img/numerisations/")}}{{fiche.image}}">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bgblack">
      <li class="breadcrumb-item"><a href="{{path("boites")}}">Exploration des brouillons</a></li>
      <li class="breadcrumb-item"><a href="{{ path('boite_fiches', {boite: fiche.boite.name}) }}">#{{fiche.boite.name}}</a></li>
      <li class="breadcrumb-item active">{{ fiche.name }}</li>
    </ol>
  </nav>

  <div class="row text-white">
    <div class="col">
    {% if fiche.previous %}
      {% set path = path('display_fiche', {'boite': fiche.boite.name, 'fiche': fiche.previous.name}) %}
      <a class="text-white" id="previous-btn" data-absolute="{{ absolute_url(path) }}" href="{{ path }}">
          <i class="fas fa-chevron-circle-left"></i>
      </a>
    {% endif %}
    </div>
    <div class="col text-right">
    {% set next = getNext(fiche) %}
    {% if next %}
      {% set path = path('display_fiche', {'boite': fiche.boite.name, 'fiche': next.name}) %}
      <a class="text-white" id="next-btn" data-absolute="{{ absolute_url(path) }}" href="{{ path }}">
          <i class="fas fa-chevron-circle-right"></i>
      </a>
    {% endif %}
    </div>
  </div>

  <div class="bg-light rounded">
    <div class="row mt-3">
      {% set position = "left" %}
      {% include 'default/half-fiche.html.twig' %}

      {% set position = "right" %}
      {% include 'default/half-fiche.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/display-fiche.js') }}"></script>
{% endblock %}
