<div class="col">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link {{position == "left" ? "active"}}" href="#nav-facsimile-{{position}}">Fac-simile</a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link {{position == "right" ? "active"}}" href="#nav-diplo-{{position}}">Tapuscrit corrigé</a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" href="#nav-linea-{{position}}">Tapuscrit</a>
    </li>
  </ul>
  <div class="tab-content">
    <!--FAC-SIMILE -->
    <div class="tab-pane fade {{position == "left" ? "show active"}}" id="nav-facsimile-{{position}}">
      <div class="openseadragon-buttons-{{position}} openseadragon-buttons text-center pt-2">
        <button id="{{position}}-osd-zoom-in" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-search-plus"></i>
        </button>
        <button id="{{position}}-osd-zoom-out" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-search-minus"></i>
        </button>
        <button id="{{position}}-osd-home" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-home"></i>
        </button>
        <button id="{{position}}-osd-full-page" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-arrows-alt"></i>
        </button>
        <button id="{{position}}-osd-left" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-undo"></i>
        </button>
        <button id="{{position}}-osd-right" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-redo"></i>
        </button>
      </div>
      <div class="rounded seadragon-viewer" id="seadragon-viewer-{{position}}"></div>
    </div>

    <!--PSEUDODIPLO -->
    <div class="tab-pane fade {{position == "right" ? "show active"}}" id="nav-diplo-{{position}}">
      <div class="pseudodiplo">
        <div class="row">
          <div class="col mt-3">{{ diplomatic | raw }}</div>
        </div>
      </div>
    </div>

    <!--LINEARIZED -->
    <div class="tab-pane fade" id="nav-linea-{{position}}">
      <div class="linearized">
        <div class="row">
          <div class="col mt-3 text-justify">{{ linearized | raw }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
