{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Page d'accueil{% endblock %}

{% block body %}
  <div class="card text-white bgblack">
    <div class="card-body">
      <h2>Explorations des brouillons de Jean-Philippe Toussaint</h2>
      <figure class="figure float-right ml-3 mb-3 mr-5">
	<img class="img-thumbnail rounded" width="250px" src="/img/LRT_02_01_00058.png" alt="Dessin d'une machine à écrire, au feutre(?) rose, figurant sur le facsimilé <i>LRT_02_01_00058</i>"/>
	<figcaption class="figure-caption text-right"><small>Dessin figurant sur <a href="{{path('display_fiche', {'boite': '02', 'fiche': 'LRT_02_01_00058'})}}">le facsimilé <i>LRT_02_01_00058</i></a>.</small></figcaption>
      </figure>
      <p class="text-justify">Mettre en ligne les brouillons pour permettre à chacun d’accéder aux archives de la création littéraire, de les décrypter, et de s’en emparer pour de nouvelles recherches ou de nouvelles créations : tel est l’objectif du projet élaboré à partir
        des brouillons du quatrième roman de <a href="http://www.jptoussaint.com/projet-reticence.html">Jean-Philippe Toussaint</a>, La
        <i>Réticence</i>, publié aux Éditions de Minuit en 1991.</p>
    </div>
  </div>
{% endblock %}
