{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Mentions légales{% endblock %}

{% block body %}

<div class="text-white">


<h2>Responsable de la publication :</h2>
Yassine Lakhnech, président de l’Université Grenoble Alpes <br/>
UGA<br/>
CS 40700<br/>
38058 Grenoble cedex 9<br/>
presidence-universite@univ-grenoble-alpes.fr<br/>


<h2>Responsable éditoriale :</h2>
Brigitte Combe, porteuse du projet La Réticence<br/>
Brigitte.combe@univ-grenoble-alpes.fr<br/>


<h2>Hébergeur :</h2>
TGIR Huma-Num - UMS 3598<br/>
54 Boulevard Raspail<br/>
75006 Paris<br/>
<a href="http://www.huma-num.fr">http://www.huma-num.fr</a><br/>
cogrid@huma-num.fr<br/>

<h2>Éditeur du site :</h2>
ELAN - UMR 5316 Litt&Arts<br/>
Université Grenoble Alpes / CNRS<br/>
CS 40700 - 38058 Grenoble cedex 9<br/>
<a href="http://www.elan-numerique.fr/">http://www.elan-numerique.fr</a><br/>
litt-et-arts-elan@univ-grenoble-alpes.fr<br/>

<h2>Limitation de responsabilité :</h2> Malgré les soins apportés à la réalisation du site et son actualisation régulière, la responsabilité des éditeurs ne peut être engagée en raison d’éventuelles erreurs ou omissions dans le contenu du site.

</div>
{% endblock %}
