{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Le projet{% endblock %}

{% block body %}

  <div class="card text-white bgblack">
    <div class="card-body">
      <h2>Le fonds d’archives</h2>
      <p>
      <div class="row">
        <div class="col-9">
            Ces brouillons ont été confiés par leur auteur à l’Unité Mixte de Recherche Litt&Arts (UMR 5316 – Arts et pratiques du texte, de l’image, de l’écran et de la scène – Université Grenoble Alpes / CNRS) sous la responsabilité scientifique de Brigitte
            Ferrato-Combe. Réunissant la totalité des documents préparatoires du roman, depuis les premières notes jusqu’aux épreuves et correspondances avec l’éditeur, ce fonds d’archives se révèle particulièrement intéressant pour les études littéraires,
            stylistiques ou génétiques.</div>
            <div class="col text-center">
              <img class="rounded" src="{{ asset('img/thumb-23.jpg') }}" width=80% />
            </div>
        </div>
      </p>

      <h2>La transcription</h2>
      <p>Les 2700 feuillets tapuscrits, comportant une abondante annotation manuscrite, ont été numérisés par le Service interuniversitaire de Documentation de l’Université Grenoble Alpes où ils sont momentanément conservés, et font l’objet d’une
        transcription sur la plateforme collaborative TACT, opération indispensable pour leur donner une pleine lisibilité et permettre les analyses ou recherches automatiques sur le texte.</p>


      <h2>La visualisation</h2>
      <p>
        Au fur et à mesure de leur validation, les transcriptions, téléchargeables en TEI-XML, sont déposées sur le site du Projet <i>Réticence</i>. Il sera ainsi possible :

        <ul>
          <li>de visualiser simultanément chaque facsimilé et sa transcription</li>
          <li>d’Exploration des textes transcrits à l’aide d’un moteur de recherche pour mener des études lexicales ou littéraires</li>
          <li>d’établir une concordance entre les brouillons et le texte imprimé, grâce aux métadonnées issues du travail d’inventaire du fonds</li>
          <li>de visualiser simultanément plusieurs facsimilés ou plusieurs transcriptions afin de les comparer</li>
        </ul>
      </p>

      <h2>Principes de numérotation</h2>
      <h2>Le tapuscrit original</h2>
      <p>
        <div class="row">
          <div class="col-2 text-center">
            <img width=80% class="rounded" src="{{ asset('img/31.jpg') }}"/>
          </div>
          <div class="col">
            Les 2700 pages du tapuscrit sont réparties dans 6 boites d’archives, sans ordre immédiatement perceptible. Afin de garder une trace de l’état dans lequel se trouvait le fonds au moment du dépôt au SID, chaque feuillet a été numéroté au crayon. Le
          chiffre romain, de I à VI, correspond à la numérotation des boites d’archives ; le chiffre arabe indique la place du feuillet dans chaque boite. Dans les boites V et VI se trouvent des chemises cartonnées, donc le numéro est indiqué par un chiffre
          arabe entre parenthèses. Cette numérotation est visible en haut à droite de chaque facsimilé (ex : II, 334 ou V (3) 89).
          </div>
        </div>
      </p>

      <h2>Facsimilés et transcriptions</h2>
      <p>Chaque facsimilé et sa transcription portent le même numéro, dérivé de celui du feuillet original (boite/chemise/feuillet) avec des extensions différentes (.jpg ou .xml).
        <br/>
        Exemples :
        <ul>
          <li>Le f° II, 334 correspond au facsimilé LRT_02_01_00334.jpg et à la transcription LRT_02_01_00334.xml</li>
          <li>Le f° V (3) 89 correspond au facsimilé LRT_05_03_00089.jpg et à la transcription LRT_05_03_00089.xml</li>
        </ul>
      </p>

      <h2>Schéma de transcription</h2>
      <p>Il a été élaboré à partir d’XML-TEI avec des choix de balisage assez simples, qui pourront être enrichis ultérieurement.</p>
      <p>La transcription reproduit à l’identique le texte tapuscrit, en respectant la mise en page (alinéas, retours à la ligne, saut de ligne). Les erreurs éventuelles (orthographe, syntaxe, ponctuation, fautes de frappe) ne sont pas corrigées.</p>
      <p>Les annotations manuscrites, très nombreuses, sont déchiffrées (dans la limite de la lisibilité) et transcrites, avec un code couleur et une police de caractère permettant de les distinguer du texte tapé. Leur situation dans la page n’est pas
        reproduite à l’identique ; la diversité des emplacements a été réduite à deux cas de figure :
        <ul>
          <li>les ajouts dont l’emplacement dans le texte est clairement défini sur le brouillon sont transcrits au point d’insertion au-dessus du texte tapé (même lorsque leur longueur a contraint l’auteur à les écrire en marge et à les relier par une flèche);</li>
          <li>les annotations marginales dont l’emplacement dans le texte n’est pas précisé sont transcrites en bas de la page.</li>
        </ul>
      </p>

      <p>
        Le balisage a été limité à trois fonctions essentielles :
        <ul>
          <li>Structuration du texte : identification du numéro figurant sur le feuillet, délimitation des paragraphes</li>
          <li>Description précise des ratures, déplacements, soulignements, mises en relief, ajouts manuscrits.</li>
          <li>Repérage des entités nommées :
            <ul>
              <li>noms propres de personne ou de lieu (Biaggi, Sasuelo, etc.)
              </li>
              <li>noms communs correspondants à des personnages du texte (l’enfant, le chat, l’hôtelier, le pêcheur, etc. )</li>
            </ul>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}
