{% extends 'base-experimentations.html.twig' %}

{% block title %} {{parent()}} Expérimentations{% endblock %}

{% block stylesheets %}
{{parent()}}
<link href="{{ asset("css/style.css") }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
{{parent()}}

<script src="{{asset("js/papaparse.js")}}"></script>
<script src="{{asset("js/imagesloaded.pkgd.min.js")}}" defer></script>
<script src="{{asset("js/displace.min.js")}}"></script>
<script src="{{asset("js/javascript.js")}}"></script>
{% endblock %}


{% block body %}
  <div class="tools">
		<div class="zoom-buttons">
			<p>zoom</p>
			<button class="zoom-out">-</button>
			<button class="zoom-in">+</button>
		</div>
	</div>

<main>
	<div id="manuscrit_img" style="transform: scale(1) translate(0px,0px); color: blue;">
		<figure>
			<img src="{{asset('img/test.jpeg')}}">
		</figure>
	</div>

	<div class="cache">
		<div id="container_transcription">
			<div id="transcription"></div>
		</div>
	</div>

	<div class="buttons">
		<div class="b_top">+</div>
		<div class="b_bottom">+</div>
	</div>
</main>

{% endblock %}
