{% extends 'base-experimentations.html.twig' %}

{% block title %}{{parent()}} Steps / Natures{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('vincent/steps_natures/assets/css/style.css') }}"/>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('vincent/steps_natures/assets/js/lib/papaparse.min.js') }}" defer></script>
  <script src="{{ asset('vincent/steps_natures/assets/js/lib/imagesloaded.pkgd.min.js') }}" defer></script>
  <script src="{{ asset('vincent/steps_natures/assets/js/lib/fontfaceobserver.standalone.js') }}" defer></script>
  <script src="{{ asset('vincent/steps_natures/assets/js/javascript.js') }}" defer></script>
{% endblock %}

{% block body %}
<div id="experiment">

  <div class="tools">
    <div class="boutons zoom-buttons">
      <p>zoom</p>
      <button class="zoom-out">-</button>
      <button class="zoom-in">+</button>
    </div>

    <div class="boutons">
      <p>étapes</p>
      <button id="precedent"><</button>
      <button id="suivant">></button>
    </div>

    <div class="boutons">
      <p>layout</p>
      <button id="layout">◧</button>
    </div>

    <div class="boutons">
      <p>loupe</p>
      <button id="loupe">▉</button>
    </div>
    <div class="boutons align_left"><a id="data-url" href="{{ asset('vincent/steps_natures/data/csv/LRT_01_01_00003.csv') }}" download>csv</a></div>
  </div>

  <main>
    <div class="panneau">
      <div class="container" style="transform: scale(1) translate(0px,0px);">

        <figure id="facsimile">
          <img src="{{ asset('vincent/steps_natures/data/img/LRT_01_01_00003.jpg') }}" />
        </figure>

        <div id="cache">
          <div class="transcription" id="container_transcription"></div>
        </div>

        <div id="container_zones_transcription"></div>

      </div>
    </div>


    <div class="panneau">
      <div class="container" style="transform: scale(1) translate(0px,0px);">

        <div class="transcription" id="transcription_natures"></div>

      </div>
    </div>
  </main>
</div>
{% endblock %}
