p {
  margin-bottom: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family : "Spacemono";
  src: url('../../data/font/SpaceMono-Regular.ttf');
}
@font-face {
  font-family : "SpacemonoIt";
  src: url('../../data/font/SpaceMono-Italic.ttf');
}


/*
#manuscrit_img, #container_transcription {
  transform: scale(2);
  transform-origin: center center;
}
*/
main {
  position: fixed;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#manuscrit_img, #container_transcription {
  transform: scale(1);
  transform-origin: top center;
  transition: transform 300ms;
}
body {
  /*
  overflow-y: hidden;
  overflow-x: hidden;
  */
  background: #f0f3f3;
}



/* TOOLS */
.tools {
  position: fixed;
  bottom: 0px;
  left: 0px;

  width: 100%;
  padding: 10px;

  z-index: 100;

  border-top: 1px solid black;
  background: #f0f3f3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.boutons {
  display: flex;
  align-items: center;
}
.boutons a {
  border-bottom: 1px solid black;

  text-decoration: none;
  color: black;
  font-size: 13px;
}
.bouton a:hover {

}
.boutons.align_left {
  position: absolute;
  right: 10px;
}
.boutons button {
  font-family : "Spacemono";
  cursor: pointer;

  padding: 15px 10px;
  margin-right: 10px;

  border: none;
  border: 1px solid black;

  font-size: 15px;
  line-height: 0px;
}
.boutons button:hover {
  color: #ff4d00;
  border-color: #ff4d00;
}
.boutons p {
  margin-right: 15px;
  margin-left: 10px;

  border-bottom: 1px solid;

  font-size: 13px;
  font-family : "Spacemono";
}






#manuscrit_img {
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: center;

  width: 100%;
}
#manuscrit_img figure img {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

#container_transcription {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;

  display: flex;
  justify-content: center;

  background: white;
}
#transcription {
  border: 1px solid black;
  color: #068bff;
  background: white;


  width: 500px;
  height: 100vh;

  position: relative;

  -webkit-user-select: none;
  moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#transcription span {
  /*
  width: 20px;
  height: 20px;
  */

  position: absolute;

  font-family : "Spacemono";
  font-variant-ligatures: none;

  /* text-align: justify; */
}
/*
#transcription span:after {
  content: "";
  display: inline-block;
  width: 100%;
}
*/
#transcription span.manuscrit {
  font-family : "SpacemonoIt";
  color: #0ead0e;
}
#transcription span.barre {
  text-decoration: line-through;
}

.cache {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;

  -webkit-clip-path: inset(40% 30% 50% 30%) ;
  clip-path: inset(40% 40% 50% 40%);
  /*clip-path: inset(3%);*/

  opacity: .8;

  cursor: move;
}

.buttons {
}
.buttons div {
  cursor: grab;

  position: absolute;
  width: 14px;
  height: 14px;
  padding: 1px 0px 0px 1px;

  background: white;
  color: black;
  border: 1px solid black;

  font-size: 15px;
  line-height: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons div:active {
  cursor:none;

  border-color: #ff4d00;
  color: #ff4d00;
}
