* {
  margin:0;
  padding:0;
  list-style: none;
  outline: 0;
  font-weight: 300;
  box-sizing: border-box;
}

body {
    overflow-y: scroll;
    margin-bottom: 53px;
}

/* TYPO */

@font-face {
  font-family : "Spacemono";
  src: url('../../data/font/SpaceMono-Regular.ttf');
}
@font-face {
  font-family : "SpacemonoIt";
  src: url('../../data/font/SpaceMono-Italic.ttf');
}


/* LAYOUT */

/* PANNEAU CONTAINER MANUSCRIT / FAC-SIMILÉ / SPAN TRANSCRIPTION */

main {
  font-family : "WorkSans-Regular";
  background-color: #f6f6f6;

  display: flex;

  height: 70vh;
}
main > div {
  flex-shrink: 0;

  width: 50%;
}

/* horizontal */
main.horizon {
  flex-direction: column;
}
main.horizon > div {
  flex-shrink: 0;

  width: 100%;
  height: 50%;
}

.panneau {
  position: relative;
  overflow: scroll;
}
.panneau:nth-child(1) {
  border-right: 1px solid black;
}

.container {
  position: relative;
}


/* ASIDE */

aside {
  padding: 20px;

  border-top: 1px solid black;
  background: #f0f3f3;
}
aside p {
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
  border-bottom: 1px solid;
  font-size: 13px;
  font-family: "Spacemono";
}

aside input {
  display: block;
  width: 100%;
  min-width: 30px;
}

/* TEXTE */

.transcription span {
  position: absolute;

  font-family : "Spacemono";
  color: #068bff;
  font-variant-ligatures: none;
  white-space: nowrap;
}

.transcription span.manuscrit {
  font-family : "SpacemonoIt";
  color: #0ead0e;
}

.transcription span.barre {
  text-decoration: line-through;
}

i {
  font-style: italic;
}




/* CACHE */

#cache {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);

  z-index:10;


  transition: all 300ms;
}


/* PANNEAU GAUCHE */

#facsimile {
  width: 80%;
  margin: auto;
  margin-top: 35px;
}

#facsimile img {
  width: 100%;
}


#container_transcription {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);

  z-index:10;
}
#container_transcription span {
  position: absolute;
  display: block;
}

#container_transcription span.hovered {
  opacity: 1;
  border-bottom: 1px solid #ff4d00;
}
#transcription_natures span.hovered {
  border-bottom: 1px solid #ff4d00;
}




/* PANNEAU DROITE */

#transcription_natures {
  position: relative;

  margin: auto;
  margin-top: 35px;

  border: 1px solid black;
}

#transcription_natures span.manuscrit {
  visibility: hidden;
}
#transcription_natures span.manuscrit.visible {
  visibility: visible;
}
#transcription_natures span.current_step {
  color: #ff4d00;
}
#transcription_natures span.barre:not(.activated), #transcription_natures span.barre.activated.current_step {
  text-decoration: none;
}



/* BOUTONS */

.boutons {

}
button {

}




/* TOOLBAR / ZOOM */

.toolbar {
  position: fixed;
  z-index: 10;
}
.container {
  transform: scale(1);
  transform-origin: top left;
  transition: transform 300ms;
}





/* TOOLS */
.tools {
  position: fixed;
  bottom: 0px;
  left: 0px;

  width: 100%;
  padding: 10px;

  z-index: 100;

  border-top: 1px solid black;
  background: #f0f3f3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-buttons {
  display: flex;
  align-items: center;
}
.zoom-buttons button {
  font-family : "Spacemono";
  cursor: pointer;

  padding: 15px 10px;
  margin-right: 10px;

  border: none;
  border: 1px solid black;

  font-size: 15px;
  line-height: 0px;
}
.zoom-buttons button:hover {
  color: #ff4d00;
  border-color: #ff4d00;
}
.zoom-buttons p {
  margin-right: 15px;
  margin-left: 10px;

  border-bottom: 1px solid;

  font-size: 13px;
  font-family : "Spacemono";
}

.boutons.align_left {
  position: absolute;
  right: 10px;
}
.boutons a {
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
p {
  margin-bottom: 0px;
}


/* RANGE */


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.95px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #000000;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #f0f3f3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.95px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #000000;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0.1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #f0f3f3;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0.1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #f0f3f3;
  cursor: pointer;
  height: 3.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}



input[type='range'] {
  background-color: #f0f3f3;
}
