{% extends 'base-experimentations.html.twig' %}

{% block title %}{{parent()}} Loupe{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('vincent/loupe/assets/css/style.css') }}"/>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('vincent/loupe/assets/js/lib/papaparse.min.js') }}" defer></script>
  <script src="{{ asset('vincent/loupe/assets/js/lib/imagesloaded.pkgd.min.js') }}" defer></script>
  <script src="{{ asset('vincent/loupe/assets/js/lib/displace.min.js') }}" defer></script>
  <script src="{{ asset('vincent/loupe/assets/js/javascript.js') }}" defer></script>
{% endblock %}

{% block body %}
<div id="experiment">
	<div class="tools">
		<div class="boutons zoom-buttons">
			<p>zoom</p>
			<button class="zoom-out">-</button>
			<button class="zoom-in">+</button>
		</div>
		<div class="boutons align_left"><a id="data-url" href="{{ asset('vincent/loupe/data/csv/LRT_01_01_00003.csv') }}" download>csv</a></div>
	</div>

	<main>
		<div id="manuscrit_img" style="transform: scale(1) translate(0px,0px); color: blue;">
			<figure>
				<img src="{{ asset('vincent/loupe/data/img/LRT_01_01_00003.jpg') }}">
			</figure>
		</div>

		<div class="cache">
			<div id="container_transcription">
				<div id="transcription"></div>
			</div>
		</div>

		<div class="buttons">
			<div class="b_top">+</div>
			<div class="b_bottom">+</div>
		</div>
	</main>
</div>
{% endblock %}
